*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.Logo{
    margin: 2%;          
    left: 0;
    height: 100%;
    padding: auto;
    text-decoration: none;
    color: white;
}

.Cabecalho {
    align-items: center;          
    justify-content: center;      
    position: relative;          
    background-color: black;
    color: grey;
    padding: 10px;
    border-bottom: #222 solid 5px;
    display: flex;
    font-size: 1.1rem;
}

.Titulo{
    text-align: center;
    padding: 1.5%;
}

.Menu{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
}

.ItemMenu{
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.Legenda{
    text-align: center;
    color: grey;
    padding: 3%;
    padding-top: 0;
    font-size: 1rem;
}

.Conteudo{
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
}

.Itens{
    display: flex;
    flex-flow: column;
    gap: 10px;
}


@media (max-width: 670px) {

    img{
        width: 90%;
        height: auto;
        display: column;
        margin-left: 5%;
        margin-right: auto;
    }
    
    .Conteudo{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 5px;
    }

    .Itens{
        grid-template-columns: 1fr;
        flex-flow: column;
        gap: 10px;
    }

  .ItemMenu{
        right: 0;
        margin: 15px;
        text-decoration: none;
        background-color: grey;
        color: white;
        font-weight: bold;
        display: block;
        padding: 5px;
        font-size: 1.6rem;
    }

    .Logo{
        margin: 10%;
        font-size: 2.5rem;
        text-decoration: none;
        color: white;
    }

    .Cabecalho {
        align-items: center;          
        justify-content: center;      
        position: relative;          
        background-color: black;
        color: grey;
        padding: 10px;
        border-bottom: #222 solid 5px;
        display: flex;
    }

    .Legenda{
        text-align: center;
        color: grey;
        padding: 3%;
        padding-top: 0;
        font-size: 1.3rem;
    }
}

@media (min-width: 1269px) and (max-width: 1587px) {

    .Conteudo .Itens#Baixo1, .Conteudo .Itens#Baixo2{
        grid-column: span 2;
        width: 100%;
    }
    
    .Conteudo .Itens#Baixo1 img, .Conteudo .Itens#Baixo2 img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media (min-width: 1588px) and (max-width: 1906px) {
    #Baixo2{
        flex: 1 1 calc(100% - 25%);
        align-items: center;
        width: 200%;
    }
}